@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: crimson;
    background-color: aliceblue;
}

h2 {
    color: deeppink;
}

p {
    text-align: justify;
}